In [5]:
import pandas as pd
import numpy as np
import plotly.offline as pyof
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import datetime
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
from scipy.interpolate import CubicSpline
import time
import random

In [58]:
VIX = pd.read_csv('C:/Users/95att/Desktop/job/First_paper_QAC/Volatility Management/VIX_History.csv')
VIX['date'] = pd.to_datetime(VIX['DATE'])
VIX.Date = VIX['date'].dt.strftime('%Y-%m-%d')
VIX['Close_vix']=VIX.CLOSE
VIX['Close_vix'].fillna(method='ffill', inplace=True)
VIX['Close_vix'].fillna(method='ffill', inplace=True)
VIX = VIX[['date','Close_vix']]
VIX.head(), VIX.tail()

C:\Users\95att\AppData\Local\Temp\ipykernel_46532\3948950080.py:3: UserWarning:

Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

C:\Users\95att\AppData\Local\Temp\ipykernel_46532\3948950080.py:5: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



C:\Users\95att\AppData\Local\Temp\ipykernel_46532\3948950080.py:5: FutureWarning:

Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

C:\Users\95att\AppData\Local\Temp\ipykernel_46532\3948950080.py:6: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



C:\Users\95att\AppData\Local\Temp\ipykernel_46532\3948950080.py:6: FutureWarning:

Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

(        date  Close_vix
 0 1990-01-02      17.24
 1 1990-01-03      18.19
 2 1990-01-04      19.22
 3 1990-01-05      20.11
 4 1990-01-08      20.26,
            date  Close_vix
 9098 2026-01-13      15.98
 9099 2026-01-14      16.75
 9100 2026-01-15      15.84
 9101 2026-01-16      15.86
 9102 2026-01-19      18.84)

In [78]:
VIX.to_csv('VIX_only.csv', index=False)

In [82]:
industry_daily = pd.read_csv('C:/Users/95att/Desktop/job/First_paper_QAC/Volatility Management/10_Industry_Portfolios_Daily.csv')

In [84]:
industry_daily.set_index('Unnamed: 0',inplace=True)
industry_daily.index.names = ['Date']
industry_daily = industry_daily.iloc[:26129].copy()

df = industry_daily.copy()
df.index = pd.to_datetime(df.index, format='%Y%m%d')

In [86]:
df.tail(), df.head()

(            NoDur Durbl Manuf  Enrgy HiTec  Telcm Shops   Hlth  Utils Other
 Date
 2025-11-21    1.3     0  1.59   0.43  0.54   1.22  1.53    2.1   0.29  1.54
 2025-11-24  -0.77  5.44  0.68  -0.11  2.91  -1.48  0.31   0.88   0.87  0.59
 2025-11-25   1.43  0.77  1.66  -0.65   0.5   0.77   2.2   2.16  -0.23  1.38
 2025-11-26   0.68  1.45   0.7   0.67  0.74   0.41   0.6  -0.07   1.27  0.84
 2025-11-28   0.42   0.8  0.46   1.36  0.57   0.79  0.95   -0.5    0.8  0.61,
            NoDur  Durbl  Manuf  Enrgy  HiTec  Telcm  Shops  Hlth Utils  Other
 Date
 1926-07-01  0.02  -0.28  -0.23   0.57  -0.21  -0.02  -0.01  0.97  0.61    0.2
 1926-07-02  0.29   1.07   0.81   0.64   0.36   0.26   0.01  0.13  0.47    0.1
 1926-07-06  0.24   0.72   0.22   0.17   0.47   0.17  -0.23  0.23  0.73  -0.18
 1926-07-07  0.27   0.06   0.23  -0.04   -0.1   0.32  -0.59  0.33  0.17   0.16
 1926-07-08  0.69   0.05   0.15   0.12   0.35    0.4  -0.36  0.91  -0.2   0.39)

In [88]:
start_day = '2013-12-14'

df_long_daily = (
    df.rename_axis('date').reset_index()
      .melt(id_vars='date', var_name='tic', value_name='close')
      .dropna(subset=['close'])
      .sort_values(['tic','date']).reset_index(drop=True)
)
df_long_daily.head()

        date    tic  close
0 1926-07-01  Durbl  -0.28
1 1926-07-02  Durbl   1.07
2 1926-07-06  Durbl   0.72
3 1926-07-07  Durbl   0.06
4 1926-07-08  Durbl   0.05

In [90]:
df_long_daily = df_long_daily[df_long_daily['date'] >= start_day]
df_long_daily

             date    tic  close
23122  2013-12-16  Durbl   1.68
23123  2013-12-17  Durbl   0.32
23124  2013-12-18  Durbl  -0.96
23125  2013-12-19  Durbl  -1.81
23126  2013-12-20  Durbl    0.9
...           ...    ...    ...
261285 2025-11-21  Utils   0.29
261286 2025-11-24  Utils   0.87
261287 2025-11-25  Utils  -0.23
261288 2025-11-26  Utils   1.27
261289 2025-11-28  Utils    0.8

[30070 rows x 3 columns]

In [92]:
df_long_daily.to_csv('Industry_long_daily_extended.csv', index=False)

In [ ]:
# We have data to VIX